@charset "utf-8";
*{margin:0;padding:0;}
body{font-family:"Microsoft Yahei";background:#f5f5f5;color:#555;padding:0;margin:0; height:100%;position: relative;font-size: 14px;}
html{height: 100%}
body,div,ol,ul,li,p,a,dl,dt,dd,span,h1,h2,h3,h4,h5,h6,input,button,strong,b,em,i,img{padding:0;margin:0; border: 0;font-family: "Microsoft Yahei";}
table{border-collapse:collapse;border-spacing:0;}
ul,ol,li{list-style:none;font-family: "Microsoft Yahei"}
a,u{text-decoration:none;font-family: "Microsoft Yahei"}
article a,article span,article i,article td,article area,article p,article dt,article dd,article li,article div{font-family: 'simsun';}
img{border:0;}
i{font-style: normal;}
input{outline:none;font-family: "Microsoft Yahei";border: 1px solid #8c8c8c;border-radius: 2px}
span,a,i{ display: inline-block;font-family: "Microsoft Yahei"}
a:focus,area{outline:none;font-family: "Microsoft Yahei"}
table{width: calc(100% - 2px);border: 1px solid #e4e3e4;text-align: center;width: 99.8%\9}
.fl{float:left;}
.fr{float:right;}
.clear,.cf{clear:both;zoom:1;overflow:hidden;}
input[type="button"]{cursor: pointer;}
select,input{border-radius: 2px}
.disN{display: none;}
.yellow{color: #29bc6e}
.red{color: #f54d4d}
.grey{color: #a2a2a2}
.black{color: #000}
.wid1030{width: 1030px;margin: 0 auto}
/*登陆*/
.height600{height: 580px;position: relative;top: 50%;margin-top: -300px;}
.load_header img{float: left;margin-right: 10px;height: 80px}
.load_header p{height: 80px;line-height: 80px;font-size: 28px;color: #8a99c7}
.load_center{position: relative;}
.load_center img{position: absolute;left: 50%;margin-left: -960px;}
.load_squ{position: absolute;right: 0;margin-top: 100px;width: 300px;height: 240px;background-color: #fff;padding: 30px}
.load_squ p input{width: 96%;height: 40px;line-height: 40px;padding: 0px 2%;border: 1px solid #bdbdbd;}
.load_squ p{margin-bottom: 20px;}
.load_squ .load_sore input{width: 153px;float: left;border-top-left-radius: 0;border-bottom-left-radius: 0}
.yanzheng1{float: left;width: 38px;height: 38px;background-color: #000;border-top-left-radius: 2px;border-bottom-left-radius: 2px;border: 1px solid #bdbdbd;border-right: 0;background: url(../img/load_check.png) no-repeat #e5e5e5;}
.yanzheng2{width: 83px;height: 38px;border: 1px solid #bdbdbd;float: right;border-radius: 2px;text-align: center;line-height: 38px;position: relative;}
.load_center .yanzheng2 img{position: absolute;left: 0;margin: 0}
.load_btn a{width: 100%;height: 37px;line-height: 37px;text-align: center;background-color: #9175b7;color: #fff;font-size: 18px;}
/*顶部*/
.header{width: 100%;height: 65px;line-height: 65px;}
.wid1400{max-width: 1400px;margin: 0 auto;font-size: 16px;width: 1400px\9}
.header .wid1400{overflow: visible;}
.heaer_img img{float: left;}
.heaer_img{font-size: 21px;font-weight: bolder;color: #000}
.head_img img{width: 40px;height: 40px;border-radius: 20px;top: 13px;position: relative;}
.header_per{width: 650px;position: relative;color: #666}
.arrow{width: 20px;height: 20px;background: url(../img/arrow.png) no-repeat 0 5px;position: relative;top: 5px;left: 10px}
.head_img{margin-left: 10px;}
.square{position: absolute;width: 110px;height: 73px;background: url(../img/square.png) no-repeat 0 0 #fff;padding-top: 10px;line-height: 36px;top: 55px;left: 100px;text-align: center;}
.square a{width: 103px;height: 36px;color: #555;font-size: 16px;margin-left: 0px}
.square a:hover{background-color: #f4f7f8;color: #9175b7;border-radius: 5px}
.heaer_img img{height: 65px;margin-right: 10px;}
/*导航*/
.main{height: 980px;overflow: visible;padding-bottom: 20px;background-color: #f5f3f4;}
.nav{width: 100px;background: url(../img/nav.png) no-repeat;height: 980px}
.nav1all{padding-bottom: 15px;padding-top: 68px;text-align: center;width: 100%}
.nav1{position: relative;}
.nav1 a{color: #fff}
.nav1 li a{color: #000}
.nav11{background: url(../img/nav11.png) no-repeat 30px 20px;}
.nav12{background: url(../img/nav12.png) no-repeat 30px 20px;}
.nav13{background: url(../img/nav13.png) no-repeat 30px 20px;}
.navul1{position: absolute;left: 100px;top: 0px;background-color: #fff;padding: 10px 0;border: 1px solid #e4e3e4}
.navul1 a{min-width: 180px;padding-left: 10px;margin-left: 20px;margin: 5px 0 5px 20px}
.navul1 a:hover{padding-left: 6px;border-left: 4px solid #8f80bc;}
.bgc745e93{background: url(../img/li_arrow.png) no-repeat top right #745e93;}
/*右侧*/
.frame{max-width: 1260px;min-height: 790px;padding: 0 2%;height: 100%;background-color: #f5f3f4;width: calc(96% - 100px);width: 1260px\9}
.frame .rightIframe{width: 100%;height: 100%;border: 0}
/*面包屑*/
.bread{height: 58px;line-height: 58px;border: 1px solid #e4e3e4;width: 1242px\9;margin: 20px 0;width: calc(100% - 2px)}
.bread li{background: url(../img/bread.png) no-repeat left center;padding-left: 20px;float: left;padding-right: 10px;font-size: 16px;color: #555}
.bread .bread_first{background: none;padding-left: 0;padding-right: 10px;}
.content_input{background-color: #fff;border: 1px solid #e4e3e4}
.ul_input li{float: left;width: 33%;margin: 10px 0;min-width: 296px}
.ul_input{width: 81.7%}
.ul_input input{width: 186px;border: 1px solid #f0eeef;height: 30px;line-height: 30px;padding: 0 5px}
.ul_input select{width: 198px;border-color: #f0eeef;height: 32px;line-height: 32px;background-color: #fff;}
.ul_input span{width: 90px;text-align: right;}
.ul_button{width: 15%}
.ul_button input{width: 112px;height: 32px;line-height: 32px;background-color: #9175b7;color: #fff;margin: 10px 0;border: 0}
.common_table{margin-top: 20px;}
.common_table th{height: 47px;line-height: 47px;background-color: #e7e7e7;}
.common_table td{vertical-align: middle;border: 1px solid #e7e7e7;padding: 19px 0}
.common_table tr:hover{background-color: #f3f3f8;}
.common_table tr{background-color: #fff;}
/*翻页*/
.pages{text-align: right;margin-top: 30px;margin-right: 10px;}
.pages a,.pages p,.pages ul,.pages li{display: inline-block;}
.pages li{height: 22px;padding: 0 6px;border: 1px solid #b9b9b9;border-radius: 2px;line-height: 22px;background-color: #f9f9f9;cursor: pointer;}
.pages input{width: 25px;height: 22px;border: 1px solid #b9b9b9;padding: 0 2px}
.pages .pages_active,.pages li:hover{height: 24px;line-height: 24px;border: 0;background-color: #899ec9;color: #fff;padding: 0 7px}
.page_left,.page_right{background: url(../img/pages.png) no-repeat;width: 24px;height: 24px;position: relative;;top: -2px}
.page_left{background-position: 0 0;}
.page_right{background-position: -55px 0px;}
.enter{border-radius: 2px;background-color: #899ec9;color: #fff;height: 24px;line-height: 24px;padding: 0 5px}

/*回复弹窗*/
.answer_open{width: 320px;padding: 20px;position: fixed;border: 1px solid #d8cee6;border-radius: 2px;background-color: #fff;box-shadow: 5px 5px 5px #d8cee6;left: 50%\9;margin-left: -160px\9;left: calc(50% - 160px);top: 25%\9;margin-top: -90px\9;top: calc(25% - 90px)}
.answer_open textarea{width: 96%;height: 98px;margin-bottom: 20px;padding: 5px 2%;background-color: #f8f8f8;}
.anw_btn{text-align: center;border-top: 1px dashed #cccccc}
.anw_btn a{border-radius: 2px}
.anw_btn .sure2{width: 78px;height: 35px;line-height: 35px;border: 1px solid #eeeeee;margin: 15px 20px;margin-bottom: 0;}
.anw_btn .cancle2{background-color: #9175b7;color: #fff;width: 80px;height: 37px;line-height: 37px;margin: 15px 20px;margin-bottom: 0;}
/*改时间的部分*/
.laydate_body .laydate_box{margin-top: -17px;}
.time input{background: url(../img/time.png) no-repeat right center;}
/*info1*/
.info1{padding-left: 60px;background-color: #fff;padding-bottom: 20px;}
.info1 ul{width: 925px;}
.info1 li.clear{border-bottom: 1px solid #e4e3e4;padding: 20px 0}
.left_p{width: 155px;line-height: 130px;min-height:130px;position: relative;}
.left_p img{position: absolute;margin-top: -36px;top: 50%;left: 50%;margin-left: -36px;}
.infortion{width: 750px;border-left: 1px solid #e4e3e4;min-height: 130px}
.infortion_all{padding: 20px 0;border-bottom: 1px solid #e4e3e4;width: 920px;position: relative;}
.infortion_p{margin-left: 25px;font-size: 16px;font-weight: bolder;color: #555}
.info_span1{width: 155px;text-align: right;padding-right: 20px;}
.infop{padding: 10px 0;}
.infop li{width: 385px;float: left;line-height: 35px;}
.infortion2 .infop li{float: none;}
.tain_5{text-indent: 2em;margin-left: 50px;line-height: 28px;}
.infop_img{padding-left: 50px;}
.infop_img img{padding: 0 10px}
.edit{position: absolute;right: 20px;bottom: 20px;width: 70px;height: 26px;line-height: 26px;text-align: center;background-color: #9175b7;color: #fff;font-size: 12px;}
/*main_index3*/
.push{padding: 10px;border: 1px solid #e4e3e4;background-color: #fff;}
.push a{padding:0 5px 0 30px;height: 26px;line-height: 26px;border: 1px solid #e4e3e4;border-radius: 4px;color: #555;margin-right: 10px;background: url(../img/push_img.png) no-repeat;}
.push .push_type{background-position: 9px 6px;}
.push .push_project{background-position: 9px -21px;}
.push .push_edit{background-position: 9px -51px;}
.push .push_delect{background-position: 9px -81px;}
.td0_tr1 td{border: 0}
.td0_tr1 tr{border: 1px solid #e7e7e7}
/*main_index3的四个弹窗*/
.open_title{position: relative;height: 47px;line-height: 47px;text-align: center;border-bottom: 1px solid #bfbfbf;font-size: 16px;color: #555}
.open_title a{position: absolute;right: 10px;top: 10px;width: 20px;height: 20px}
.open_bring{padding: 15px 0}
.bring{padding: 10px 0}
.bring span{width: 75px;}
.bring input{width: 198px;border: 1px solid #bfbfbf;text-indent: 1em;height: 26px;line-height: 26px;}
.bring select{width: 200px;border: 1px solid #bfbfbf;height: 28px;line-height: 28px;}
.sure1{height: 35px;line-height: 35px;width: 100%;text-align: center;background-color: #9175b7;color: #fff}
.open_delect .grey{font-size: 12px;font-family: 'simsun';}
.open_delect span{width: 100%;text-align: center;}
.open_delect{text-align: center;margin-bottom: 10px;}















































































































